<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>productlisthtml</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='../../resources/css/style.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="noto-sans-kr">
  <div class="wrap">
    <!-- HEADER -->
    <header class="container-fluid mb-0" style="position: fixed; background-color: #F8F9FA;">
      <div class="container clearfix">
        <div class="row text-center">
          <div class="col-3 p-0">
            <a href="#" class="float-start m-2"><img class="img-fluid header-icon"
                src="../../resources/image/pilllaw_icon_crop.png" alt="아이콘"></a>
            <h2 class="float-start mt-4 ms-3 pt-3 fw-bold"><a class="text-decoration-none header-font " href="#">PILL
                LAW</a></h2>
          </div>
          <div class="col">
            <div class="float-start py-4 ps-5">
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4"
                  href="#">전체 상품</a></h6>
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4"
                  href="#">구독하기</a></h6>
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4"
                  href="#">필로</a></h6>
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4"
                  href="#">마이페이지</a></h6>
            </div>
            <div class="float-end py-4">
              <i class="fa-solid fa-user fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-cart-shopping fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-bell fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-magnifying-glass fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-comment-dots fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <p class="float-end mx-2 pt-4 text-center fw-bold fs-12"><a class="header-font pt-3" href="#">회원가입</a></p>
              <p class="float-end pt-4 text-center fw-bold fs-12"><a class="header-font pt-3" href="#">로그인</a></p>
            </div>
          </div>
        </div>
      </div>
    </header> <!-- ✅ `header` 닫는 위치 수정 -->

    <main style="padding-top: 115.19px;" class="container">
      <hr>
      <div class="query-selector text-center container-fluid p-3 m-3">
        <h1 class="fw-bold">상품 리스트</h1>

        <div class="keyword-selector d-flex p-3 m-2">
          <ul class="nav mx-auto">
            <li class="nav-item">
              <a class="nav-link text-decoration-none text-black" href="#">전체보기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none text-black" href="#">조회순</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none text-black" href="#">구매 많은 순</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none text-black" href="#">구독자 전용</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none text-black" href="#">필로 패키지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none text-black" href="#">얼리버드</a>
            </li>
          </ul>
        </div>
        
        <div class="form-floating my-2 fs-12">
          <textarea class="form-control" id="comment" name="text" placeholder="Comment goes here"></textarea>
          <label for="comment"><i class="fa-solid fa-magnifying-glass"></i>검색어를 입력하세요.</label>
        </div>

        <div class="category-selector">
          <div id="accordion" class="fs-12"></div> 
        </div>

        <script>
          const categories = [
            {
              title: '생리활성',
              options: [
                '기억력', '혈행', '간건강', '체지방', '갱년기 남', '갱년기 여',
                '혈당', '눈', '면역', '관절, 뼈', '전립선', '피로', '피부',
                '콜레스테롤', '혈압', '긴장', '장', '칼슘', '요로', '소화', '항산화',
                '혈중중성지방', '인지능력', '운동수행, 지구력', '치아', '배뇨',
                '면역과민 피부', '월경', '정자', '질 유산균', '유아 성장'
              ]
            },
            {
              title: '영양소',
              options: [
                '비타민 A', '비타민 B', '비타민 D', '비타민 E', '비타민 K',
                '비타민 B1', '비타민 B2', '비타민 B6', '비타민 B12', '비타민 C',
                '나이아신', '엽산', '비오틴', '칼슘', '마그네슘', '철', '아연', '구리',
                '셀레늄', '요오드', '망간', '몰리브덴', '칼륨', '크롬', '식이섬유',
                '단백질', '필수 지방산'
              ]
            }
          ];

          const accordion = document.getElementById('accordion');

          categories.forEach((category, categoryIndex) => {
            // 카드 생성
            const card = document.createElement('div');
            card.classList.add('card');

            const header = `
              <div class="card-header bg-pilllaw opacity-75 pilllaw-secondary-tag">
                <a class="btn ${categoryIndex === 0 ? '' : 'collapsed'}" data-bs-toggle="collapse" href="#collapse${categoryIndex}">
                  ${category.title}
                </a>
              </div>
            `;

            // 옵션 체크박스 생성 (6개씩 한 줄)
            const optionsHtml = category.options.map((option, optionIndex) => `
              <div class="col-2">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="check${categoryIndex}-${optionIndex}" name="option${categoryIndex}" value="${option}">
                    ${option}
                  </label>
                </div>
              </div>
            `).join('');

            // 본문 및 Collapse 구조
            const body = `
              <div id="collapse${categoryIndex}" class="collapse ${categoryIndex === 0 ? 'show' : ''}" data-bs-parent="#accordion">
                <div class="card-body fs-12">
                  <div class="row d-flex flex-wrap">
                    ${optionsHtml}
                  </div>
                </div>
              </div>
            `;

            // DOM에 삽입
            card.innerHTML = header + body;
            accordion.appendChild(card);
          });
        </script>
        <div class="row text-center container-fluid">
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
        </div>

        <div class="row text-center container-fluid">
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
        </div>

        <div class="row text-center container-fluid">
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product1.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-2 mb-4 best-item">
            <a href="#" class="text-decoration-none text-black">
              <!-- <img class="img-fluid mx-2" src="https://placehold.co/130x160"> -->
              <img class="img-fluid mx-2" src="../../resources/image/product2.jpg">
              <p class="m-0 mt-1 fs-14 fw-bold">프레쉬 유산균</p>
            </a>
            <p class="m-0 fs-14 mt-2"><a href="#" class="text-decoration-none text-black"><span class="header-font fw-bold">30,500</span>원</a></p>
            <p class="m-0 fs-12 fw-bold"><a href="#" class="text-decoration-none text-black"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> 4.1 <span class="fs-11" style="color: #AAA;">리뷰(19)</span></a></p>
          </div>
        </div>
      </div>

    </main>

    <!-- FOOTER -->
    <footer class="container-fluid">
      <hr class="text-pilllaw">
      <div class="container clearfix mb-4">
        <div class="row">
          <div class="col-3">
            <a href="#"><img src="../../resources/image/pilllaw_icon.png" class="img-fluid" alt="footer logo" width="200"></a>
          </div>
          <div class="col mt-3">
            <p class="fs-14 header-font fw-bold mb-0">상호명: PILL LAW</p>
            <p class="fs-14 header-font fw-bold mb-0">주소: 서울특별시 구로구 디지털로 306 대륭포스트타워 2차</p>
            <p class="fs-14 header-font fw-bold mb-0">고객센터: 010-5306-3569</p>
            <p class="fs-14 header-font fw-bold mb-0">계좌번호: 국민 040002-04-207375</p>
          </div>
          <div class="col-2"></div>
          <div class="col mt-3 text-center">
            <div class=" clearfix">
              <div class=" float-start">
                <a href="#" class="header-font text-decoration-none fw-bold"><i class="fa-brands fa-github fa-2xl header-font"></i></a>
                <a href="#" class="header-font text-decoration-none fw-bold fs-14"><br>GitHub 방문하기</a>
              </div class=" float-start">
              <div class="mt-3">
                <a href="#" class="header-font text-decoration-none fw-bold"><i class="fa-solid fa-database fa-2xl header-font"></i></a>
                <a href="#" class="header-font text-decoration-none fw-bold fs-14"><br>ERD diagram</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col"></div>
          <div class="col">
            <p class="fs-14 header-font text-center mb-2">개인정보 처리방침</p>
          </div>
          <div class="col">
            <p class="fs-14 header-font text-center mb-2">이용약관</p>
          </div>
          <div class="col">
            <p class="fs-14 header-font text-center mb-2">이용안내</p>
          </div>
          <div class="col"></div>
        </div>
        <p class="fs-14 header-font text-center fw-bold mb-2">All rights resereved PILLLAW &copy; copyright.</p>
      </div>
    </footer>
  </div> <!-- ✅ `wrap` 닫는 위치 수정 -->





</body>
</html>
