<footer class="container-fluid">
  <hr class="text-pilllaw">
  <div class="container clearfix mb-4">
    <div class="row">
      <div class="col-3">
        <a href="#"><img src="../../resources/image/pilllaw_icon.png" class="img-fluid" alt="footer logo" width="200"></a>
      </div>
      <div class="col mt-3">
        <p class="fs-14 header-font fw-bold mb-0">상호명: PILL LAW</p>
        <p class="fs-14 header-font fw-bold mb-0">주소: 서울특별시 구로구 디지털로 306 대륭포스트타워 2차</p>
        <p class="fs-14 header-font fw-bold mb-0">고객센터: 010-5306-3569</p>
        <p class="fs-14 header-font fw-bold mb-0">계좌번호: 국민 040002-04-207375</p>
      </div>
      <div class="col-2"></div>
      <div class="col mt-3 text-center">
        <div class=" clearfix">
          <div class=" float-start">
            <a href="#" class="header-font text-decoration-none fw-bold"><i class="fa-brands fa-github fa-2xl header-font"></i></a>
            <a href="#" class="header-font text-decoration-none fw-bold fs-14"><br>GitHub 방문하기</a>
          </div class=" float-start">
          <div class="mt-3">
            <a href="#" class="header-font text-decoration-none fw-bold"><i class="fa-solid fa-database fa-2xl header-font"></i></a>
            <a href="#" class="header-font text-decoration-none fw-bold fs-14"><br>ERD diagram</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col"></div>
      <div class="col">
        <p class="fs-14 header-font text-center mb-2">개인정보 처리방침</p>
      </div>
      <div class="col">
        <p class="fs-14 header-font text-center mb-2">이용약관</p>
      </div>
      <div class="col">
        <p class="fs-14 header-font text-center mb-2">이용안내</p>
      </div>
      <div class="col"></div>
    </div>
    <p class="fs-14 header-font text-center fw-bold mb-2">All rights resereved PILLLAW &copy; copyright.</p>
  </div>
</footer>