<header class="container-fluid mb-0" style="position: fixed; background-color: #F8F9FA;">
  <div class="container clearfix">
    <div class="row">
      <div class="col-3 p-0">
        <a href="#" class="float-start m-2"><img class="img-fluid header-icon" src="../../resources/image/pilllaw_icon_crop.png" alt="아이콘"></a>
        <h2 class="float-start mt-4 ms-3 pt-3 fw-bold"><a class="text-decoration-none header-font " href="#">PILL LAW</a></h2>
      </div>
      <div class="col">
        <div class="float-start py-4 ps-5">
          <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">전체 상품</a></h6>
          <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">구독하기</a></h6>
          <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">필로</a></h6>
          <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">마이페이지</a></h6>
        </div>
        <div class="float-end py-4">
          <i class="fa-solid fa-user fa-lg header-font float-end mx-2 pt-4 text-center"></i>
          <i class="fa-solid fa-cart-shopping fa-lg header-font float-end mx-2 pt-4 text-center"></i>
          <i class="fa-solid fa-bell fa-lg header-font float-end mx-2 pt-4 text-center"></i>
          <i class="fa-solid fa-magnifying-glass fa-lg header-font float-end mx-2 pt-4 text-center"></i>
          <i class="fa-solid fa-comment-dots fa-lg header-font float-end mx-2 pt-4 text-center"></i>
          <p class="float-end mx-2 pt-4 text-center fw-bold fs-12"><a class="header-font pt-3" href="#">회원가입</a></p>
          <p class="float-end pt-4 text-center fw-bold fs-12"><a class="header-font pt-3" href="#">로그인</a></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</header>