<!DOCTYPE html>
<html lang="">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>PILL LAW</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="icon" href="../../resources/image/pilllaw_favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='../../resources/css/style.css'>
</head>
<body>
  <div class="wrap">
    <main class="container px-0">
      <div class="text-center m-2 mt-5">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-1 text-end">
            <a href="../common/index.html" class=""><img src="../../resources/image/pilllaw_icon_crop.png" class="img-fluid header-icon" alt="아이콘"></a>
          </div>
          <div class="col text-start mt-4 ms-3">
            <h2 class="mt-4 ms-3 pt-3 fw-bold d-inline"><a class="text-decoration-none header-font " href="../common/index.html">PILL LAW</a></h2>
          </div>
        </div>
      </div>
      <!-- 회원가입 -->
      <div class="mx-5 px-5 mt-4">
        <div class="mx-5 px-5 ">
          <div class="mx-5 px-5 mt-4">
            <h2 class="mt-4 ms-3 pt-3 fw-bold text-center"><a class="text-decoration-none header-font " href="#">회원가입</a></h2>
            <div class="mx-4 px-4">
              <div class="mt-5"></div>
              <div class="d-grid px-5 mx-5 mt-3">
                <button type="button" class="btn btn-pilllaw mx-5 btn-block fw-bold text-white"><i class="fa-solid fa-envelope fa-lg mx-2"></i>이메일로 시작하기</button>
              </div>
              <div class="d-grid px-5 mx-5 mt-2">
                <button type="button" class="btn btn-kakao mx-5 btn-block fw-bold text-kakao p-1"><img class="img-fluid me-2 mb-1" src="../../resources/image/kakao-svgrepo-com.png" width="18" alt="카카오 회원가입">카카오로 시작하기</button>
              </div>
              <div class="d-grid px-5 mx-5 mt-2">
                <button type="button" class="btn btn-naver mx-5 btn-block fw-bold text-white"><img class="img-fluid me-2 mb-1" src="../../resources/image/naver-svgrepo-com.png" width="18" alt="네이버 회원가입">네이버로 시작하기</button>
              </div>
              <div class="d-grid px-5 mx-5 mt-2">
                <button type="button" class="btn btn-github mx-5 fw-bold text-white mb-1" href="#"><i class="fa-brands fa-lg fa-github mx-2"></i></i>GitHub로 시작하기</button>
              </div>
              <div class="d-grid px-5 mx-5 mt-1">
                <button type="button" class="btn btn-insta mx-5 fw-bold text-white mb-1" href="#"><i class="fa-brands fa-instagram fa-lg mx-2 ms-4"></i>인스타그램으로 시작하기</button>
              </div>
              <div class="d-grid px-5 mx-5 mt-1">
                <button type="button" class="btn btn-google mx-5 fw-bold mb-1" href="#"><img class="img-fluid me-2 mb-1" src="../../resources/image/google-color-svgrepo-com.png" width="18" alt="구글 회원가입">Google로 시작하기</button>
              </div>
            </div>
          </div>
          <hr class="mt-5">
          <div class=" row text-center clearfix">
            <p class="col fw-bold fs-12 mx-3"><a class="text-decoration-none text-pilllaw" href="#">개인정보 처리방침</a></p>
            <p class="col fw-bold fs-12 mx-3"><a class="text-decoration-none text-pilllaw" href="#">이용 약관</a></p>
            <p class="col fw-bold fs-12 mx-3"><a class="text-decoration-none text-pilllaw" href="#">이용 안내</a></p>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>